<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
     {{>style}}
</head>
<body class="body">
    <header style="text-align: center; padding: 20px 40px 5px 30px;">
        <h1 id="title">Recover your Password </h1>
    </header>
    <form class="formy" action="/otpgen" method="POST" >

        <p style="padding: 30px 40px 0px 30px;">
             <input class="box" type="email" name="Email" placeholder="Enter your Email" required>
        </p>

        <p style="padding: 10px 40px 15px 30px;">
            <button id="s" class="box" type="submit">Get OTP</button>
        </p>
    </form>
</body>
</html>