<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Password</title>
     {{>style}}
</head>
<body class="body">
    <header style="text-align: center; padding: 20px 40px 5px 30px;">
        <h1 id="title">Enter New Password </h1>
    </header>
    <form class="formy" action="/updated" method="POST" >

        <p style="padding: 30px 40px 0px 30px;">
             <input class="box" type="password" name="npass" placeholder="New Password" required>
        </p>
        <p style="padding: 30px 40px 0px 30px;">
             <input class="box" type="password" name="cpass" placeholder="Confirm New Password" required>
        </p>

        <p style="padding: 10px 40px 15px 30px;">
            <button id="s" class="box" type="submit">Update Password</button>
        </p>
    </form>
</body>
</html>