<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    {{>style}}
</head>
<body class="body">
    <header style="text-align: center; padding: 20px 40px 5px 30px;">
        <h1 id="title">Registration Form </h1>
    </header>
    <form class="formy" action="/register" method="POST" >
        <p style="padding: 30px 40px 0px 30px;">
           <input class="box" type="text" name="Name" placeholder="Enter your name" required>
        </p>

        <p>
            <input class="box" type="password" name="Pass" placeholder="Enter Password" required>
        </p>

        <p>
            <input class="box" type="password" name="CPass" placeholder="Confirm Password" required>
        </p>

        <p>
             <input class="box" type="email" name="Email" placeholder="Enter your Email" required>
        </p>

        <p>
            <input type="radio" name="may" value="Male">Male
            <input type="radio" name="may" value="Female">Female
        </p>

        <p>
            <input class="box" type="number" name="phone" placeholder="Enter your Phone Number" min="10">
        </p>


        <p style="padding: 10px 40px 15px 30px;">
            <button id="s" class="box" type="submit">Register</button>
        </p>
    </form>
    
</body>
</html>